page-login {
    .scroll-content {
        padding-bottom: 0 !important;
        overflow: hidden;
      }
    #hidden {
        opacity: 0;
    }
    #logoimg {
        margin-left: 40px;
        margin-top: 20px;
    }
    #registerbtn {
        margin-top: 10px;
    }
}
