page-register {
    .scroll-content {
        padding-bottom: 0 !important;
        overflow: hidden;
      }
    #hidden {
        opacity: 0;
    }
    #cancelbtn {
        margin-top: 10px;
    }
}
