<ion-header>

  <ion-navbar>
    <ion-title>details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="monitorFromServer">
  <h2>{{ monitorFromServer.name }}</h2>

  <mwl-gauge
    [max]="monitorFromServer.watt.maxValue"
    [dialStartAngle]="180"
    [dialEndAngle]="0"
    [value]="monitorFromServer.watt.value"
    [animated]="true"
    [animationDuration]="1">
  </mwl-gauge>

  <div class="text-info">
    <h5>Day Avarage: {{ monitorFromServer.report.dayAverage }}</h5>
    <h5>Week Avarage: {{ monitorFromServer.report.weekAverage }}</h5>
    <h5>Month Avarage: {{ monitorFromServer.report.monthAverage }}</h5>
  </div>

  <!-- teste purposes -->
  <button ion-button (click)="update()">Atualizar</button>
  
</ion-content>

<ion-content *ngIf="!monitorFromServer">
  <h1></h1>
</ion-content>
