<ion-header>

  <ion-navbar>
    <ion-title>details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="monitorFromServer">

  <h2>{{ monitorFromServer.name }}</h2>

  <div class="text-info" padding>
    <div class="box">
      <h4>Live Voltage:</h4>
      <h5>{{ monitorFromServer.watt.voltage }} v</h5>
    </div>
    <div class="box">
      <h4>Live Current:</h4>
      <h5>{{ monitorFromServer.watt.current }} A</h5>
    </div>
    <div class="box">
      <h4>Live Consumption:</h4>
      <h5>{{ monitorFromServer.watt.watts }} w</h5>
    </div>
    <div class="box">
      <h4>Day Avarage:</h4>
      <h5>{{ monitorFromServer.report.dayAverage }} w</h5>
    </div>
    <div class="box">
      <h4>Week Avarage:</h4>
      <h5>{{ monitorFromServer.report.weekAverage }} w</h5>
    </div>
    <div class="box">
      <h4>Month Avarage:</h4>
      <h5>{{ monitorFromServer.report.monthAverage }} w</h5>
    </div>
  
  </div>
  
</ion-content>

<ion-content *ngIf="!monitorFromServer">
  <h1></h1>
</ion-content>
